# IDE ve Editör Geçici Dosyaları (VS Code, Arduino IDE, Android Studio)
.vscode/
.idea/
*.swp
*~
*.bak

# Derleme ve Önbellek Çıktıları
build/
.pio/
.esphome/
*.elf
*.bin
*.hex
*.o

# İşletim Sistemi Sistem Dosyaları
.DS_Store
Thumbs.db
desktop.ini
